@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

/* Basic Styling */
body {
  background: #fff8ed;
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

h1 {
  color: #769642;
  font-size: 3.6em;
}

footer {
  font-size: 0.7em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.main-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.post-border {
  border-radius: 5px;
  border: 1px solid #3f6a51;
  margin: 0 0 5px 0;
}
.title {
  width: 400px;
}
.published {
  width: 60px;
}
.publisher {
  width: 220px;
}
.controllers {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unset {
  all: unset;
}
.control-btn {
  padding: 5px;
  background-color: #3f6a51;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* Styling links */

.index-link-text {
  background-color: #f47b5b;
  color: white;
  font-size: 1.4em;
  width: 10em;
  padding: 5px 15px;
  margin: 15px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 5px #ffbd59;
}

.index-link-text:hover {
  background-color: #ffbd59;
  box-shadow: 0 5px #f47b5b;
}

.index-link-text:active {
  background-color: #f47b5b;
  box-shadow: 0 2.5px #ffbd59;
}

/* Styling forms */
.post-form {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffbd59;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 6px #123456;
  margin: 20px 10px;
}

label,
.checkbox-div {
  margin: 10px 0 0 0;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
}

.post-form > button {
  align-self: center;
  margin: 10px 4px 4px 4px;
  background-color: #3f6a51;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  width: 15em;
}

button:hover {
  background-color: #769642;
}

button:active {
  background-color: #2d4d3a;
}

/* Styling blogs/index.ejs */
/* index styling */

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.fruit-cards {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 40px;
  height: 70px;
  background-color: white;
  margin: 10px 15px;
  padding: 30px 50px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  border: 2.5px solid #ffbd59;
}

.fruit-cards:hover {
  border: 4px solid #f47b5b;
}

.fruit-cards:active {
  background-color: #a4cf5f67;
  border: 2.5px solid #ffbd59;
  color: gray;
}

.index-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.add-fruit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  width: 6em;
  text-transform: uppercase;
  background-color: #769642;
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

img {
  height: 100%;
  margin: 20px 0 0 0;
}
